<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/plain; charset=utf-8" />
	<meta http-equiv="Redirect" content="5; URL=https://easylist.github.io/" />

	<title>EasyList</title>

	<style type="text/css">
		html { width: 100%; }
		body { margin: 0 auto; width: 50%; }
	</style>

</head>
<body>

	<h1 style="text-align:center;">
		<img src="/img/easylogo.png" title="EasyList" alt="EasyList" />
	</h1>

	<p>
		The EasyList project is not hosted and available at easylist.adblockplus.org anymore.<br />
		You will automatically be redirected to the <a href="https://easylist.github.io/">new EasyList project website</a> within 5 seconds.
	</p>

</body>
</html>
